<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhengshang.liujy.dao.DriverMapper">
  <resultMap id="BaseResultMap" type="edu.zhengshang.liujy.bean.Driver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_name, age, phone, price, status, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from driver
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimary" resultType="Driver" >
   		 select * from driver where is_del=0
    </select>


  <!-- 根据司机状态查询位子-->
  <select id="selectByPrimarywei" resultType="Driver">
    select
    <include refid="Base_Column_List" />
    from driver
    where status = #{status,jdbcType=INTEGER}
  </select>

  <!--getbyphone  -->
  <select id="getbyphone" resultType="Driver">
    select * from driver
    where phone = #{phone}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zhengshang.liujy.bean.Driver">
    insert into driver (id, driver_name, age,
      phone, price, status,
      is_del)
    values (#{id,jdbcType=INTEGER}, #{driverName,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{phone,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER},
      #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zhengshang.liujy.bean.Driver">
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zhengshang.liujy.bean.Driver">
    update driver
    <set>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zhengshang.liujy.bean.Driver">
    update driver
    set driver_name = #{driverName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>