<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhengshang.liujy.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="edu.zhengshang.liujy.bean.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="stauts" jdbcType="VARCHAR" property="stauts" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, stauts, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimary" resultType="Record" >
		SELECT logo.good_name AS 'goodsname',logo.good_stype AS 'goodstype',logo.weight AS 'gweight',lor.*
		FROM record lor,goods logo
		WHERE lor.goods_id=logo.id
		AND lor.stauts=#{stauts,jdbcType=VARCHAR} AND lor.isdel=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zhengshang.liujy.bean.Record">
    insert into record (id, goods_id, stauts, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{stauts,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zhengshang.liujy.bean.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="stauts != null">
        stauts,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="stauts != null">
        #{stauts,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zhengshang.liujy.bean.Record">
    update record
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="stauts != null">
        stauts = #{stauts,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zhengshang.liujy.bean.Record">
    update record
    set goods_id = #{goodsId,jdbcType=INTEGER},
      stauts = #{stauts,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>